@inject IGameService GameService

@if(GameService.Games == null || GameService.Games.Count == 0)
{
    <span>Loading Games...</span>
}
else
{

<ul class="list-unstyled">
    @foreach (var game in GameService.Games)
   {
       <li class="media my-3">
           <div class="media-img-wrapper mr-2">
               <a href="#">
                   <img class="media-img" src="@game.ImageUrl" alt="@game.Name">
               </a>
           </div>
           <div class="media-body">
               <a href="#">
                   <h4 class="mb-0">@game.Name</h4>
               </a>
               <p>@game.Description</p>
               <h5 class="price">
                   @game.Price zł
               </h5>
           </div>
       </li>
   }

</ul>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        await GameService.GetGames();
    }

}
